<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h3>指数数据</h3>
<table width="95%" border="1" cellpadding="2" cellspacing="1">
  <tr><th>指数名</th><th>日期</th><th>指数</th><th>周均值</th><th>两周均值</th><th>月均值</th><th>Degree</th></tr>
  <tr th:each="in:${indexRecordDtos}">
    <td th:text="${in.name}"></td>
    <td th:text="${in.opendate}"></td>
    <td th:text="${in.price}"></td>
    <td th:text="${in.avgMonth}"></td>
    <td th:text="${in.avgTwoWeek}"></td>
    <td th:text="${in.avgMonth}"></td>
    <td th:text="${in.degree}"></td>
  </tr>
</table>
<h3>板块数据</h3>
<table width="95%" border="1" cellpadding="2" cellspacing="1">
  <tr><th>板块名</th><th>日期</th><th>指数</th><th>周均值</th><th>两周均值</th><th>月均值</th><th>Degree</th></tr>
  <tr th:each="in:${bkRecordDtos}">
    <td th:text="${in.name}"></td>
    <td th:text="${in.opendate}"></td>
    <td th:text="${in.price}"></td>
    <td th:text="${in.avgMonth}"></td>
    <td th:text="${in.avgTwoWeek}"></td>
    <td th:text="${in.avgMonth}"></td>
    <td th:text="${in.degree}"></td>
  </tr>
</table>

</body>
</html>