<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blogscn.fund.mapper.BankuaiMapper">
  <insert id="batchInsert" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert ignore into bankuai(code,name)
    values
    <foreach collection="bankuais" index="index" item="item" separator=",">
      (
      #{item.code},#{item.name}
      )
    </foreach>
    ON DUPLICATE KEY UPDATE
    name=values(name)
  </insert>
</mapper>