<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blogscn.fund.mapper.FundRecordMapper">
  <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
    insert ignore into fund_record(code,price,ljjz,jzzzl,opendate)
    values
    <foreach collection="fundRecordList" item="fundRecord" index="index" separator=",">
      (
      #{fundRecord.code},#{fundRecord.price},#{fundRecord.ljjz},#{fundRecord.jzzzl},#{fundRecord.opendate}
      )
    </foreach>
    ON DUPLICATE KEY UPDATE
    opendate=values(opendate)
  </insert>
</mapper>