<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blogscn.fund.mapper.FundRecordMapper">
  <insert id="batchInsert" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert ignore into fund_record(code,price,ljjz,jzzzl,opendate)
    values
    <foreach collection="fundRecordList" index="index" item="fundRecord" separator=",">
      (
      #{fundRecord.code},#{fundRecord.price},#{fundRecord.ljjz},#{fundRecord.jzzzl},#{fundRecord.opendate}
      )
    </foreach>
    ON DUPLICATE KEY UPDATE
    price=values(price)
  </insert>
</mapper>